# Python
__pycache__/
*.pyc

# Environment
.env

# Logs
logs/
*.log

# Reports
reports/

# Processed data
data/processed/

# Frontend
frontend/node_modules/
frontend/dist/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Windows / misc
*.exe
*.winmd